{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "react",
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "overrides": [
      {
        "files": "config/**/*",
        "extends": "eslint:recommended"
      },
      {
        "files": [
          "**/*.test.{ts,tsx}"
        ],
        "rules": {
          "@typescript-eslint/no-non-null-assertion": "off"
        }
      }
    ],
    "ignorePatterns": [
      "dist",
      "node_modules",
      "coverage"
    ],
    "settings": {
      "react": {
        "version": "detect"
      }
    }
  }